<!-- index.njk -->
---
layout: "base.njk"
meta:
    title: Home
    description: Personal website

---
<html lang="en">
<head>
    <title>{{ title }}</title>
</head>
<body>
    {% set greeting = 'hello' %}

    Yay, {{ greeting | upper }} world!
</body>
</html>
